{% extends 'layout.html' %} {% block title %}About{% endblock %} {% block
content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>About Me</h1>
        <h2>
          I'm a recent Mechatronics Engineering and Managment graduate from
          McMaster University
        </h2>
        <p>
          I enjoy working with technology, whether that be hardware, software or
          the combination of both to solve complex problems. I also have a knack
          for artistic designs in the form of animations and graphic design. I
          love working on short animations and using photoshop to create graphic
          designs. I recently discovered my passion for web development which in
          my opinion perfectly combines my passion of software and design. In
          fact, this website was completely created by myself! As far as my
          other hobbies go I love working out and playing/watching basketball
          (huge raptors fan here). In my spare time I love listening to music,
          primarily hip hop and R&B as you can tell from my design projects. I
          also love collecting vinyl records of my favourite albums.
        </p>
        <p>
          On this website, you can find my resume as well as media on some of
          the projects I have worked on over the years, described in my resume.
          In addition, I have provided contact information where you can contact
          me.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="/static/images/about_circle.png"
          alt="about-me-image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
{% endblock %}
