{% extends 'layout.html' %} {% block title %}Contact{% endblock %} {% block
content %}
<div class="hero-image"></div>
<div class="icons">
  <div class="email icon">
    <a href="mailto:mithilanmurali@gmail.com">
      <img src="/static/images/icons/email.png" alt="" height="50px" />
    </a>
    <h3>Email</h3>
    <h4>mithilanmurali@gmail.com</h4>
  </div>
  <div class="phone icon">
    <a href="tel:6478301725">
      <img src="/static/images/icons/phone.png" alt="" height="50px" />
    </a>
    <h3>Phone</h3>
    <h4>647-830-1725</h4>
  </div>
  <div class="linked icon">
    <a
      href="https://www.linkedin.com/in/mithilan-muralitharan/"
      target="_blank"
    >
      <img src="/static/images/icons/linkedin.png" alt="" height="50px" />
    </a>
    <h3>Linkedin</h3>
    <h4>/mithilan-muralitharan</h4>
  </div>
  <div class="github icon">
    <a href="https://github.com/mithilanm" target="_blank">
      <img src="/static/images/icons/github.png" alt="" height="50px" />
    </a>
    <h3>Github</h3>
    <h4>/mithilanm</h4>
  </div>
</div>
{% endblock %}
