{% extends 'layout.html' %} {% block title %}Graphic Projects{% endblock %} {%
block content %} 
<div class=container-art>
    <div class="row-art">
        <div class="column-art">
            <figure>
                <img src="/static/images/art-projects/Kawhi.jpg" alt="" width="640" height="800" class="responsive" />
                <figcaption class="caption">Kawhi Leonard: Custom NBA 2K Cover
            </figure>
            </figure>
        </div>
        <div class="column-art">
            <figure>
                <img src="/static/images/art-projects/Kanye_Pablo.jpg" alt="" width="640" class="responsive" />
                <figcaption class="caption">Kanye West: The Life of Pablo Wallpaper
            </figure>
            </figure>
        </div>
        <div class="column-art">
            <figure>
                <video width="640" controls class="responsive">
                    <source src="/static/images/art-projects/Mac-Miller.mp4" type="video/mp4" />
                </video>
                <figcaption class="caption">Mac Miller: Swimming in Circles Animation</figcaption>
            </figure>
        </div>
        <div class="column-art">
            <figure>
                <video width="640" controls class="responsive">
                    <source src="/static/images/art-projects/Shady.mp4" type="video/mp4" />
                </video>
                <figcaption class="caption">Slim Shady: Bang Animation</figcaption>
            </figure>
        </div>
        <div class="column-art">
            <figure>
                <video width="640" controls class="responsive">
                    <source src="/static/images/art-projects/Thugger.mp4" type="video/mp4" />
                </video>
                <figcaption class="caption">Young Thug: Slime Season Animation</figcaption>
            </figure>
        </div>
    </div>
</div>
{% endblock %}
