{% extends 'layout.html' %} {% block title %}Resume{% endblock %} {% block
content %}
<div class="resume">
  <div>
    <button class="btn btn-primary">
      <a href="/static/images/resume/Resume (as of May 2020).pdf"
        >Download PDF</a
      >
    </button>
  </div>
  <img
    src="/static/images/resume/0001.jpg"
    alt=""
    height="100%"
    class="resume-page"
  />
  <img
    src="/static/images/resume/0002.jpg"
    alt=""
    height="100%"
    class="resume-page"
  />
</div>
{% endblock %}
